5556 ICON "otpnitro.ico"

1 VERSIONINFO
FILEVERSION     0,4,1,1
PRODUCTVERSION  0,4,1,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Haibane.org"
      VALUE "FileDescription", "OTPNitro"
      VALUE "FileVersion", "0.4"
      VALUE "InternalName", "OTPNitro"
      VALUE "LegalCopyright", "OTPNitro 2013-2014 (c) capi_x <capi_x@haibane.org>"
      VALUE "OriginalFilename", "otpnitrogui.exe"
      VALUE "ProductName", "OTPNitro"
      VALUE "ProductVersion", "0.4"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
